[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "2.2.3"
psycopg2 = "2.9.6"

[dev-packages]
pylint = "*"
flake8 = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.11"
